<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <title src="img/favicon.ico">Neighborly</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

  <div class="topnav">
    <img src="img/logo.png" id="logo" />
    <a href="/neighborhood" id="navlink">Neighborhood</a>
    <a href="/task" id="navlink">Tasks</a>
    <a href="/user" id="navlink">Profile</a>
  </div>

  {{{body}}}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADV580W8VOmHRJSlLEXIgv-7owBLbWfjQ&callback=initMap"
    async defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="/js/map.js"></script>
</body>

</html>