<div class="container">
    <div class="row">
        <div class="col-8 offset-2">

            <h2>Neighborhood</h2>
            <h5>Your neighbors need help completing these tasks!</h5>

            <div id="map"></div>

            <br><br>

        </div>
    </div>
</div>